In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\play data\miniconda3\envs\pystudy_env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\play data\miniconda3\envs\pystudy_env\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\play data\miniconda3\envs\pystudy_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\play data\miniconda3\envs\pystudy_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\play data\miniconda3\envs\pystudy_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\play data\miniconda3\envs\pystudy_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

# utf-8로 읽기 #cp949 자꾸 오류나서 utf-8로 코드 수정
df = pd.read_csv('car_accident.csv', encoding='utf-8')

# utf-8로 저장
df.to_csv('car_accident_real.csv', index=False, encoding='utf-8')

In [4]:
import os
print(os.getcwd())

C:\Workspaces\first_project\first_project_workspace\first_project\data

In [8]:
df = pd.read_csv('./car_accident.csv', encoding='utf-8')
print(df.head())

   교통사고이력ID(사고기록 순서)         발생년월일시 주야코드 요일코드  사망자수  부상자수 발생지시도코드 발생지시도코드.1  \
0                  1  2012-01-01 01   야간    일     1     1      서울       은평구
1                  2  2012-01-01 01   야간    일     1     6      전북       정읍시
2                  3  2012-01-01 08   주간    일     1     1      충남       청양군
3                  4  2012-01-01 10   주간    일     2     2      경남       합천군
4                  5  2012-01-01 03   야간    일     1     1      경북       예천군

  사고유형대분류코드 사고유형중분류코드       법규위반코드
0      차대사람     차도통행중  안전운전 의무 불이행
1       차대차      정면충돌       중앙선 침범
2      차량단독     공작물충돌  안전운전 의무 불이행
3       차대차      측면충돌           과속
4      차량단독      도로이탈  안전운전 의무 불이행

In [9]:
print(df.info())      # 데이터 타입, 결측치, 컬럼 정보 등 요약
print(df.describe())  # 수치형 데이터의 통계 요약
print(df.head())      # 상위 5개 행 확인
print(df.tail())      # 하위 5개 행 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42602 entries, 0 to 42601
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   교통사고이력ID(사고기록 순서)  42602 non-null  int64
 1   발생년월일시             42602 non-null  object
 2   주야코드               42602 non-null  object
 3   요일코드               42602 non-null  object
 4   사망자수               42602 non-null  int64
 5   부상자수               42602 non-null  int64
 6   발생지시도코드            42602 non-null  object
 7   발생지시도코드.1          42602 non-null  object
 8   사고유형대분류코드          42602 non-null  object
 9   사고유형중분류코드          42602 non-null  object
 10  법규위반코드             42602 non-null  object
dtypes: int64(3), object(8)
memory usage: 3.6+ MB
None
       교통사고이력ID(사고기록 순서)          사망자수          부상자수
count       42602.000000  42602.000000  42602.000000
mean        21304.477677      1.037651      1.589339
std         12302.416896      0.239500      1.966770
min             1.000000      1.000000      1.000000
25%         10651.250000      1.000000      1.000000
50%         21301.500000      1.000000      1.000000
75%         31951.750000      1.000000      2.000000
max         42617.000000     10.000000    105.000000
   교통사고이력ID(사고기록 순서)         발생년월일시 주야코드 요일코드  사망자수  부상자수 발생지시도코드 발생지시도코드.1  \
0                  1  2012-01-01 01   야간    일     1     1      서울       은평구
1                  2  2012-01-01 01   야간    일     1     6      전북       정읍시
2                  3  2012-01-01 08   주간    일     1     1      충남       청양군
3                  4  2012-01-01 10   주간    일     2     2      경남       합천군
4                  5  2012-01-01 03   야간    일     1     1      경북       예천군

  사고유형대분류코드 사고유형중분류코드       법규위반코드
0      차대사람     차도통행중  안전운전 의무 불이행
1       차대차      정면충돌       중앙선 침범
2      차량단독     공작물충돌  안전운전 의무 불이행
3       차대차      측면충돌           과속
4      차량단독      도로이탈  안전운전 의무 불이행
       교통사고이력ID(사고기록 순서)         발생년월일시 주야코드 요일코드  사망자수  부상자수 발생지시도코드  \
42597              42613  2022-12-07 10   주간    수     1     1      경기
42598              42614  2022-12-26 21   야간    월     1     2      경기
42599              42615  2022-12-26 20   야간    월     1     1      경기
42600              42616  2022-12-29 14   주간    목     1     1      경기
42601              42617  2022-12-18 13   주간    일     1    10      경기

      발생지시도코드.1 사고유형대분류코드 사고유형중분류코드       법규위반코드
42597       평택시      차대사람       횡단중  보행자 보호의무 위반
42598       평택시       차대차        추돌  안전운전 의무 불이행
42599       평택시      차량단독        전도  안전운전 의무 불이행
42600       평택시      차량단독        기타  안전운전 의무 불이행
42601       안양시       차대차        추돌     안전거리 미확보

In [10]:
df.isnull().sum() #null값 확인

교통사고이력ID(사고기록 순서)    0
발생년월일시               0
주야코드                 0
요일코드                 0
사망자수                 0
부상자수                 0
발생지시도코드              0
발생지시도코드.1            0
사고유형대분류코드            0
사고유형중분류코드            0
법규위반코드               0
dtype: int64

In [11]:
#발생년월시 칼럼을 str로 변환. 후에 연도만 뽑을거면 .dt.year/월 뽑을 땐 .dt.mont
df['발생년월일시'] = pd.to_datetime(df['발생년월일시'])

In [12]:
df = df.rename(columns={
    '교통사고이력ID(사고기록 순서)': 'id',
    '발생년월일시': 'datetime',
    '주야코드': 'daynight',
    '요일코드': 'weekday',
    '사망자수': 'dead',
    '부상자수': 'hurt',
    '발생지시도코드': 'region1',
    '발생지시도코드.1': 'region2',
    '사고유형대분류코드': 'type_main',
    '사고유형중분류코드': 'type_sub',
    '법규위반코드': 'law'
})

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42602 entries, 0 to 42601
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         42602 non-null  int64
 1   datetime   42602 non-null  datetime64[ns]
 2   daynight   42602 non-null  object
 3   weekday    42602 non-null  object
 4   dead       42602 non-null  int64
 5   hurt       42602 non-null  int64
 6   region1    42602 non-null  object
 7   region2    42602 non-null  object
 8   type_main  42602 non-null  object
 9   type_sub   42602 non-null  object
 10  law        42602 non-null  object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 3.6+ MB
None

In [14]:
print(df.columns)

Index(['id', 'datetime', 'daynight', 'weekday', 'dead', 'hurt', 'region1',
       'region2', 'type_main', 'type_sub', 'law'],
      dtype='object')

In [16]:
#가장 최근 연도(최댓값)구해서 최근 5년치 연도 리스트 생성
max_year = df['datetime'].dt.year.max()
print(max_year)
recent_year = list(range(max_year, max_year-5, -1))
print(recent_year)

2022
[2022, 2021, 2020, 2019, 2018]

In [17]:
# import pandas as pd
#
# # 기존 파일 읽기
# df = pd.read_csv('data.csv')
#
# # 전처리
# df = df.dropna()  # 예를 들어 결측치 제거
#
# # 전처리한 결과를 저장
# df.to_csv('data_cleaned.csv', index=False, encoding='utf-8-sig')

### 전처리한 데이터를 새로운 파일로 저장

In [18]:
import pandas as pd

# # 1. 파일 불러오기
# df = pd.read_csv('car_accident.csv', encoding='utf-8')
#
# # 2. 데이터 전처리
# # 예시: 결측치 있는 행 삭제
# df = df.dropna()

# 3. 전처리한 데이터를 새 파일로 저장
df.to_csv('car_accident_cleaned.csv', index=False, encoding='utf-8-sig')

In [19]:
print(df.head())

   id            datetime daynight weekday  dead  hurt region1 region2  \
0   1 2012-01-01 01:00:00       야간       일     1     1      서울     은평구
1   2 2012-01-01 01:00:00       야간       일     1     6      전북     정읍시
2   3 2012-01-01 08:00:00       주간       일     1     1      충남     청양군
3   4 2012-01-01 10:00:00       주간       일     2     2      경남     합천군
4   5 2012-01-01 03:00:00       야간       일     1     1      경북     예천군

  type_main type_sub          law
0      차대사람    차도통행중  안전운전 의무 불이행
1       차대차     정면충돌       중앙선 침범
2      차량단독    공작물충돌  안전운전 의무 불이행
3       차대차     측면충돌           과속
4      차량단독     도로이탈  안전운전 의무 불이행